In [11]:
from nltk.corpus import wordnet as wn
import pandas as pd
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [8]:
simlex=pd.read_csv("SimLex-999.txt",sep='\t', lineterminator='\n')
simlex

      word1        word2 POS  ...  Assoc(USF)  SimAssoc333  SD(SimLex)\r
0       old          new   A  ...        7.25            1          0.41
1     smart  intelligent   A  ...        7.11            1          0.67
2      hard    difficult   A  ...        5.94            1          1.19
3     happy     cheerful   A  ...        5.85            1          2.18
4      hard         easy   A  ...        5.82            1          0.93
..      ...          ...  ..  ...         ...          ...           ...
994    join      acquire   V  ...        0.00            0          0.99
995    send       attend   V  ...        0.00            0          1.44
996  gather       attend   V  ...        0.00            0          1.97
997  absorb     withdraw   V  ...        0.00            0          1.75
998  attend       arrive   V  ...        0.00            0          1.18

[999 rows x 10 columns]

In [ ]:
from nltk.corpus import genesis
genesis_ic = wn.ic(wn, False, 0.0)
simlex_score=[]
similarity_scores=[]
for w1,w2,pos,score in zip(simlex.word1,simlex.word2,simlex.POS,simlex.SimLex999):
  pos=pos.lower()
  s1=wn.synset("{string}.{pos}.01".format(string=w1,pos=pos))
  s2=wn.synset("{string}.{pos}.01".format(string=w2,pos=pos))
  print("{string}.{pos}.01".format(string=w1,pos=pos),"{string}.{pos}.01".format(string=w2,pos=pos))
  try:
    p_sim=s1.path_similarity(s2)
    lch_sim=s1.lch_similarity(s2)
    wup_sim=s1.wup_similarity(s2)
    if p_sim==None or lch_sim==None or wup_sim==None:
      continue
    res_sim=s1.res_similarity(s2,genesis_ic)
    jcn_sim=s1.jcn_similarity(s2,genesis_ic)
    lin_sim=s1.lin_similarity(s2,genesis_ic)
    simlex_score.append(score)
    similarity_scores.append([p_sim,lch_sim,wup_sim,res_sim,jcn_sim,lin_sim])
  except:
    continue

In [57]:
import numpy as np
from scipy import stats
sim_scores=np.array(similarity_scores)
labels=['path_sim','lch_sim','wup_sim','res_sim','jcn_sim','lin_sim']
for i in range(sim_scores.shape[1]):
  print(labels[i], "SimLex999 Corr and p-value: ",stats.pearsonr(simlex_score,sim_scores[:,i])[0]**2,stats.pearsonr(simlex_score,sim_scores[:,i]),'MAE: ',np.mean(simlex_score-sim_scores[:,i]),np.mean())

path_sim SimLex999 Corr and p-value:  0.19262256064357836 (0.43888786796125767, 4.15584005221031e-43) MAE:  4.329424311010031
lch_sim SimLex999 Corr and p-value:  0.18830582119120395 (0.4339421864617497, 4.461004522769442e-42) MAE:  2.7307608155782317
wup_sim SimLex999 Corr and p-value:  0.12289237134557768 (0.3505600823618937, 4.491014495455419e-27) MAE:  3.9912323309842326
res_sim SimLex999 Corr and p-value:  0.12686572032434446 (0.35618214487021166, 5.915965125482585e-28) MAE:  1.509473744027986
jcn_sim SimLex999 Corr and p-value:  0.04728794095090897 (0.2174579061586609, 5.772875634331321e-11) MAE:  -1.5765765765765765e+298
lin_sim SimLex999 Corr and p-value:  0.1499743253734016 (0.387265187401865, 3.764942376959388e-33) MAE:  4.196292731019809